body{
    border: 5px solid white;
    height:660px;
    width:800px;
    margin: 60px 200px 60px 200px;
    padding: 30px 50px 30px 50px;
    box-shadow: 5px 10px 30px black;
    box-;  

}
    
    body h1{
    font-family:'Times New Roman', Times, serif
    }
    
    
    
    